body{
    background: #F6F6F6;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

fieldset{
    border: none;
}

#top-right-leaf{
    height: 7.5em;
}

#right-leaf{
    float: right;
}

#main{
    height: 42em;
    display: flex;
    border: none;
    width: 100%;
}

#log-in{
    position: relative;
    border: none;
    height: 50em;
    width: 55%;
}

#logo{
    position: absolute;
    top: 0.5em;
    left: 15em;
}

#log-in-text{
    position: absolute;
    top: 8em;
    left: 7.5em;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
}

#log-in-button{
    position: absolute;
    top: 8em;
    left: 7.5em;
    width: 5.5em;
    height: 2em;
    border: none;
    border-radius: 0.4em;
    font-family: sans-serif;
    color: white;
    font-size: 2.2em;
    font-weight: bold;
    background-color: #436A0F;
}

#bottom-leaf{
    position: absolute;
    bottom: 8.5em;
    border: none;
    height: 20%;
    width: 100%;
}

#sign-up{
    border: none;
    border-radius: 1.5em;
    padding-top: 1.5em;
    padding-left: 1em;
    height: 38em;
    width: 42%;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    box-shadow: 0px 2px 6px #727272;
}

#sign-up > form > fieldset > legend{
    font-size: 2.5em;
    font-weight: bold;
}

.form-data-field-name{
    font-size: 1.5em;
    font-weight: bold;
    float: left;
    height: 3.5em;
    width: 45%;
    margin-left: 1em;
    margin-bottom: 0.7em;
    border: none;
}

.form-data-field{
    font-size: 1.5em;
    font-weight: bold;
    float: left;
    height: 3.5em;
    width: 90%;
    margin-left: 1em;
    margin-bottom: 0.7em;
    border: none;
}

#fname{
    border: solid black 1px;
    border-radius: 0.5em;
    height: 2em;
    width: 90%;
    text-align: center;
    font-size: 20pt;
}

#lname{
    border: solid black 1px;
    border-radius: 0.5em;
    height: 2em;
    width: 90%;
    text-align: center;
    font-size: 20pt;
}

#phone{
    border: solid black 1px;
    border-radius: 0.5em;
    height: 2em;
    width: 99%;
    text-align: center;
    font-size: 20pt;
}

#email{
    border: solid black 1px;
    border-radius: 0.5em;
    height: 2em;
    width: 99%;
    text-align: center;
    font-size: 20pt;
}

#password{
    border: solid black 1px;
    border-radius: 0.5em;
    height: 2em;
    width: 99%;
    text-align: center;
    font-size: 20pt;
}

#sign-up-button{
    float: right;
    margin-top: 0.8em;
    margin-right: 0.8em;
    width: 7.5em;
    height: 2em;
    border: none;
    border-radius: 2em;
    font-family: sans-serif;
    color: white;
    font-size: 2em;
    font-weight: bold;
    background-color: #436A0F;
}
